<style type="text/css">

div.WholeTable{
  background-color: #DDEEE4;
  width: 400px;
  height: 270px;
}

div.DescDiv{
  font-size: 25px;
  font-weight: bold;
  color: #0B0E33; 
  float: left;
}
div.InpDiv{
    
    
    
}


</style>